body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 50px;
  padding: 10px;
}

/* Add styles to the memberForm */
.memberForm {
  width: 360px;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.memberForm input {
  width: 100%;

  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  text-content: center;
}

/* When the inputs get focus, do something */
.memberForm input:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.memberForm .btn,
#p1 {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.memberForm .canceal,
#result-pwd {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.memberForm .a {
  text-decoration-line: none;
  font-weight: bolder;
}

/* Add some hover effects to buttons */
.memberForm .btn:hover,
.open-button:hover {
  opacity: 1;
}

.links {
  display: flex;
  justify-content: space-between;
  /* 링크 사이의 간격을 최대화하여 왼쪽과 오른쪽으로 분산 배치합니다 */
  /* justify-content: space-around; */ /* 링크를 균등하게 배치합니다. */
}

.left-link {
}

.right-link {
}
